//- doctype html
//- html
//-     head
//-         meta(charset="utf-8")
//-         title Ghumante
//-         link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
//-         link(rel='stylesheet', href='/bower_components/angular-google-places-autocomplete/dist/autocomplete.min.css')

//-         script(src="/bower_components/jquery/dist/jquery.min.js ")
//-         script(src="/bower_components/angular/angular.min.js")
//-         script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
//-         script(src="/bower_components/moment/moment.js")
//-         script(src="/bower_components/angular-moment/angular-moment.min.js")
//-         script(src="/bower_components/angular-bootstrap/ui-bootstrap.min.js")
//-         script(src="/bower_components/angular-google-places-autocomplete/dist/autocomplete.min.js")
//-         script(src="/javascripts/app/app.js")
//-         script(src="/javascripts/app/routes.js")
//-         script(src="/javascripts/app/controller.js")
//-         script(src="/javascripts/app/configs.js")
//-         script(src="/bower_components/satellizer/dist/satellizer.min.js")
//-         script(src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB1BfdE7HVLiv8bc9VqeH5txpBTw99rNqA")

//-         script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js ")
//-     body(ng-app="ghumante")
//-         block content
//-             ui-view
