body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('../images/travel.jpg');

    /* Full height */
    height: 650px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.90;
}

.mid{
  height:210px;
  background-color :#000000;
  opacity: 0.9;
  font-size:25px;
  color: #ffffff;
  padding : 30px;
}

.content{

  padding : 50px;
}

.nice-buttons{

    background-color: #895A1F;
    color : #ffffff;
    border : none;
    padding : 7px;
    /*opacity: 0.7;*/
    border-radius: 3px;
    width : 200px;
    margin : 5px;

}

.nice-buttons:hover{
  background-color: #9E681C;
}

.nice-font{
  font-family: 'Sansita', sans-serif;
}

.tagline{
  font-size: 18px;
}


.banner {
  border-radius: 0px !important;
}

.leaflet-container { 
  /*margin-top: 9vh;*/
  height: 99vh; 
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.side-bar{
  position: absolute;
  right : 1%;
  margin-top: 9vh;
  background-color: #000000;
  /*min-height: 500px;*/
  height : auto;
  z-index : 1000;
  opacity: 0.75;
  color : #ffffff;
}

.row-spacing {
  margin-top:18px;
}

.row-margin{
  margin : 5px;
}

.pointer-cursor{
  cursor: pointer;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.geosuggest {
    position: relative;
    width: 100%;
    text-align: left;
}
.geosuggest__input {
    color : #000000;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 1px #3d464d;
    padding: .5em 1em;
    -webkit-transition: border 0.2s, box-shadow 0.2s;
    transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
    border-color: #267dc0;
    box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 25em;
    padding: 0;
    margin-top: -1px;
    background: #fff;
    color : #000000;
    border: 2px solid #267dc0;
    border-top-width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    z-index: 5;
    -webkit-transition: max-height 0.2s, border 0.2s;
    transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
    font-size: 18px;
    font-size: 1rem;
    padding: .5em .65em;
    cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
    background: #f5f5f5;
}
.geosuggest__item--active {
    background: #267dc0;
    color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
    background: #ccc;
}

.react-datepicker__input-container{
  width: 100%;
}